layout name="destiny" {
  cwd "/home/pheon/Documents/NextJS/App/destiny-credit"

  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
        children
    }

  pane_template name="dev" {
      pane split_direction="vertical" {
          children
        }
    }

  tab_template name="serve_tab" cwd="/home/pheon/Documents/NextJS/App/destiny-credit" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      pane split_direction="vertical" {
          children
        }
    }

  tab_template name="code_tab" cwd="/home/pheon/Documents/NextJS/App/destiny-credit" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      pane split_direction="vertical" {
          children
        }
    }

  code_tab name="code (destiny-credit)" focus=true {
      pane command="nvim"
    }

  serve_tab name="serve (yarn|pscale)" {
      dev split_direction="vertical" {
        pane command="yarn" {
            args "dev"
          }
        pane split_direction="horizontal" {
          pane command="pscale" {
              args "connect" "destiny-credit" "dev"
            }
          pane size="30%" command="yarn" {
              args "prisma" "studio"
            }
         }
       }
   }
}
