layout name="general" {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  tab_template name="code_tab" {
      children
    }

  code_tab name="flamingo" focus=true {
      dev {
        pane command="flamingo" borderless=true
      }
    }
  code_tab name="micellaneous" {
      dev {
        pane borderless=true
      }
    }
}
