layout {
  cwd "/home/pheon/.config/nvim"

  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  tab_template name="code_tab" {
      children
    }

  code_tab name="code (neovim)" focus=true {
      dev split_direction="vertical" {
        pane command="nvim" name="neovim" borderless=true
        pane
      }
    }
  // code_tab name="lir (contrib)" {
  //     dev split_direction="vertical" {
  //       pane command="nvim" name="neovim" borderless=true cwd="/home/pheon/.local/share/nvim/lazy/lir.nvim"
  //       pane
  //     }
  //   }
  code_tab name="antelope (contrib)" {
      dev split_direction="vertical" {
        pane command="nvim" name="neovim" borderless=true cwd="/home/pheon/Documents/Neovim/antelope"
        pane
      }
    }
  code_tab name="micellaneous" {
      dev {
        pane borderless=true
      }
    }
}
