layout {
  cwd "/home/pheon/.config/nvim"

  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
        children
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
				children
    }

  tab_template name="code_tab" {
      dev split_direction="vertical" {
				children
				pane command="flamingo"
        }
    }

  code_tab name="code (neovim)" focus=true {
      pane command="nvim"
    }
}
