layout {
  cwd "/home/pheon/Documents/Rust"
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  pane_template name="dev" {
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
        }
      children
    }

  tab_template name="code_tab" {
      children
    }

  code_tab name="code (dev)" focus=true {
      dev split_direction="vertical" {
          pane borderless=true
      }
    }
  code_tab name="rustlings" cwd="/home/pheon/Documents/Rust/rustlings" {
      dev split_direction="vertical" {
        pane command="nvim" borderless=true
        pane split_direction="horizontal" {
          pane command="rustlings" borderless=false {
              args "watch"
            }
          pane size="36%" name="help info"
         }
       }
    }
}
